.about{
    width: auto;
    height: auto;
    padding-bottom: 20px;
    background-color: #fefefe;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    // overflow-x: hidden;
    // overflow-y: hidden;

  
}