// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

$bg-color: #F6F8FC;
 $primary-text-color: #212943;
// $primary-text-color: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
$secondary-text-color: #9EA6AE;
$details: #DEE4F1;

body {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  background: $bg-color;
}


.heading {
  color: $primary-text-color;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  width: 35rem;
  background-color: #fff;
  align-items: center;
  margin: 0 auto;
  border-radius: 1rem;
  
  svg {
    height: 1rem;
    fill: $secondary-text-color;
    position: fixed; 
    width: 4rem;
  }
}



.searchbar {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;  
  padding: 1rem;
  padding-left: 4rem;
  width: 100%;
  box-shadow: 0px 5px 13px 0px $details;
  border-radius: 0.8rem;
}

.searchbar:focus {  
  outline: none;
  box-shadow: 0 0 0 1.5px $details,  0px 5px 13px 0px $details;;
}

.faq {
  margin: 3rem 0;
}
.question-wrapper {
  width: 55rem;
  border-bottom: 1px solid $details; 
  margin: 0 auto;
  padding: 1rem;
  transition: 1s;
}

.question {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  // color : linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
  color: $primary-text-color;  
  display: flex;
  justify-content: space-between;

  h3{
    color: black;
    cursor: pointer;
  position: relative;
  padding: 5px 10px;


  }

  h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 15px;
    height: 0.15em;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .questionTitle{
    color: black;
    display: inline-block;
  }

  // .questionTitle:hover{
  //   font-size: 1.3rem !important;
  // }
  
  svg {
    width: 1rem;
    height: 1.5rem;
    fill: $secondary-text-color;
  }
  
  svg.active {
    transform: rotate(180deg);
  }
  
  svg:hover {
    opacity: 0.8;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.answer {
  display: none;
}

.answer.active {
  display: block;
  text-align: left;
  padding-top: 1.5rem;
  font-weight: light;
  height: auto !important;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: $secondary-text-color;
  height: 0%;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%)
  } to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (min-width : 761px) and (max-width :1800px){
  .container{
    width: auto;
    padding: 0rem;
    text-align: center;

    .heading{
      color: $primary-text-color;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
    }

    .faq{
     margin: 5rem 5rem; 

     .question-wrapper{
      width: auto;
      padding: 0px 10px;
      border-bottom: 1px solid $details; 
      margin: 0 auto;
      padding: 0.8rem;
      transition: 1s;

      

      .answer.active{
        display: block;
        text-align: left;
        padding-top: 1.5rem;
        height: auto !important;
        padding-bottom: 10px;
        font-weight: light;
        font-size: 0.8rem;
        line-height: 1.5;
        color: $secondary-text-color;
        height: 0%;
        animation: slidein 0.4s;
        animation-fill-mode: forwards;
      }
     }
    }
  }
}



@media (min-width : 320px) and (max-width :760px){
  .container{
    width: auto;
    padding: 0rem;
    text-align: center;

    .heading{
      color: $primary-text-color;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
    }

    .faq{
     margin: 0rem 0.5rem; 

     .question-wrapper{
      width: auto;
      padding: 0px 10px;
      border-bottom: 1px solid $details; 
      margin: 0 auto;
      padding: 0.8rem;
      transition: 1s;

      h3{
        color: black;
        cursor: pointer;
      position: relative;
      padding: 5px 5px;
    
    
      }
    
      h3::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        border-radius: 15px;
        height: 0.15em;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      h3:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .answer.active{
        display: block;
        text-align: left;
        padding-top: 1.5rem;
        height: auto !important;
        padding-bottom: 12px;
        font-weight: light;
        font-size: 0.8rem;
        line-height: 1.5;
        color: $secondary-text-color;
        height: 0%;
        animation: slidein 0.4s;
        animation-fill-mode: forwards;
      }
     }
    }
  }
}
