.homeleftCustom{
    width: auto;
    height: auto;
    padding-bottom: 20px;

    
    .homeLeftContainer{
        display: flex;
        flex-direction: row;
        gap: 80px;
        margin: 10px 150px;
        padding: 20px 150px;

        .left{
            width: 600px;
            padding-top: 50px;
            .imgContainer{
                width: 480px;
                height: 550px;
                object-fit: contain;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 0px;
                // border-radius: 30px;
                border: 2px solid transparent;
            }
        }

        .right{
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            max-width: 750px;
            gap: 0px;
            text-align: start;

            ul{
                padding-top: 2px;
            }

            

            .title{
                font-weight: bold;
                font-size: 1.2rem;
                display: inline-block;
                position: relative;
            padding: 5px 0px;


            }

            .title::after {
                content: '';
                position: absolute;
                width: 90%;
                transform: scaleX(0);
                border-radius: 15px;
                height: 0.15em;
                bottom: 0;
                left: 0;
                background: #fec02b;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
              }
              .title:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
              }

            .desc{
                padding-top: 10px;
                font-size: 1.1rem;
                line-height: 24px;
                text-align: justify;
            }
        }
    }
}

@media (min-width : 761px) and (max-width :1800px){

    .homeleftCustom{
     
        width: 100%;
        height: 100%;
        padding-bottom: 5px;
        margin-top: 20px;
        text-align: start;
        


        // padding-bottom: 20px;
        // margin: 20px;
        // padding: 50px 0px;
    
        
        .homeLeftContainer{
            display: flex;
            flex-direction: column !important;
            align-items: center;
            justify-content: center;
            gap: 0px;
            
            // align-items: center;
            // justify-content: center;

            margin: 0px 120px;
            padding: 0px 0px;
    
            .left{
                // padding-left: 5%;

                width: auto !important;
                // display: flex;
                // align-items: center !important;
                .imgContainer{
                    width: 450px !important;
                    height: 450px !important;
                    object-fit: contain;
                    border-top-left-radius: 0px;
                border-bottom-right-radius: 0px;
                    // object-fit: contain;
                }
            }
    
            .right{
                padding-right: 5%;
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;
                text-align: start;
                max-width: 90%;
                padding: 10px 30px;
    
                .title{
                    font-weight: bold;
                    font-size: 1.2rem;
    
                }
    
                .desc{
                    font-size: 1.1rem;
                    text-align: left;
                }
            }
        }
    }

}



@media (min-width : 320px) and (max-width :760px){

    .homeleftCustom{
        // padding-top: 90px;
        width: 100%;
        height: 100%;
        padding-bottom: 5px;

        // padding-bottom: 20px;
        // margin: 20px;
        // padding: 50px 0px;
    
        
        .homeLeftContainer{
            display: flex;
            flex-direction: column !important;
            gap: 0px;
            // align-items: center;
            // justify-content: center;

            margin: 0px 0px;
            padding: 0px 0px;
    
            .left{
                padding-left: 15%;

                width: auto !important;
                // display: flex;
                // align-items: center !important;
                .imgContainer{
                    width: 300px !important;
                    height: 300px !important;
                    object-fit: contain;
                    border-top-left-radius: 0px;
                border-bottom-right-radius: 0px;
                    // object-fit: contain;
                }
            }
    
            .right{
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                max-width: 90%;
                padding: 10px 30px;
    
                .title{
                    font-weight: bold;
                    font-size: 0.9rem;
    
                }
    
                .desc{
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
        }
    }

}




