.mission{
    width: auto;
    height: auto;
    padding-bottom: 20px;
    background-color: #e9ebdc;

    // background: radial-gradient(circle at top, #fdfcd8 , #d7d8fd);


    .missionContainer{
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: row;
        margin: 100px 120px;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;
        border-radius: 10px;
        
        .boxesContainer{
            display: flex;
            flex-direction: row;
            gap: 50px;
            padding-top: 40px;
            .boxes{
                width: 370px;
                height: auto;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 0px;
                border-bottom-left-radius: 40px;
                // border-radius: 40px;

                background-color: white;
                
    
                .top{
                    .missionImg{
                        width: 100%;
                        height: 230px;
                        object-fit: cover;
                        // border-bottom: 1px solid lightgray;
                        // object-fit: cover;
                    }
                }

                .bottom{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    
                    
                    .title{
                        padding-top: 5px;
                        font-weight: bold;
                        font-size: 1.1rem;
                padding: 5px 10px;

                        display: inline-block;
                    position: relative;
                    }

                    .title::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        border-radius: 15px;
                        height: 0.15em;
                        bottom: 0;
                        left: 0;
                        background: #0081cb;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                      }
                      .title:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                      }

                    
                    .desc{
                        font-size: 0.8rem;
                        // font-weight: 400;
                        text-align: justify;
                    }

                    .buttonContainer{
                        padding-top: 20px !important;

                        button{
                            // margin-top: 25px;
                            margin-left: 30px;
                            width: 120px;
                            height: 40px;
                            font-size: 1rem;
                            color: white;
                            font-family: 'Roboto Slab', serif;
                            // background-color: black;
                            // background-color: #ee334e;
                            color: white;
                            cursor: pointer;
                            border: 0.6px solid transparent;
                            border-radius: 14px;
                            
                        }
                    }

                }
            }
        }


    }
}

@media (min-width : 835px) and (max-width :1450px){
    .mission{
        width: 100% !important;
        height: 600px ;
        padding-bottom: 0px !important;
        background-color: none !important;
    
        // background: radial-gradient(circle at top, #fdfcd8 , #d7d8fd);
    
    
        .missionContainer{
            width: inherit;
            height: inherit;
            display: flex;
            flex-direction: row !important;
            margin: 20px 20px;
            align-items: center;
            justify-content: center;
            // border: 1px solid black;
            border-radius: 3px;
            
            .boxesContainer{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 20px;
                padding-right: 20px ;
                gap: 35px;
                padding-top: 0px;
                .boxes{
                    width: 305px;
                    height: auto;
                    padding-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    border-bottom-left-radius: 40px ;
                    gap: 20px;
                    // border-radius: 10px !important;
                    
        
                    .top{
                        display: flex;
                        align-items: center;
                        .missionImg{
                            padding-right: 0%;
                            // align-self: center;
                            width: 100%;
                            height: 250px;
                            object-fit: contain !important;
                            // object-fit: cconover;
                        }
                    }
    
                    .bottom{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        align-items: center;
                        // justify-content: center;
                        padding: 0px 0px;
                        max-width: 100%;
                        
                        .title{
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                        .desc{
                            margin: 0px 30px;
                                font-size: 0.9rem;

                            // font-weight: 400;
                            text-align: justify;
                        }

                        button{
                            margin-top: 5px;
                            margin-left: 60%;   
                            width: 90px;
                            height: 40px;
                            font-size: 0.9rem;
                            // background-color: #ee334e;
                            color: white;
                            cursor: pointer;
                            border: 0.6px solid transparent;
                            border-radius: 14px;
                            
                        }
                    }
                }
            }
    
    
        }
    }

}

@media (min-width : 320px) and (max-width :834px){
    .mission{
        width: 100% !important;
        height: auto;
        padding-bottom: 0px !important;
        background-color: white !important;
        
    
        // background: radial-gradient(circle at top, #fdfcd8 , #d7d8fd);
    
    
        .missionContainer{
            width: auto !important;
            height: inherit;
            display: flex;
            flex-direction: column;
            margin: 0px 0px;
            align-items: center;
            justify-content: center;
            // border: 1px solid black;
            border-radius: 3px;
            
            .boxesContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0px;
                padding-top: 20px;
                .boxes{
                    width: auto;
                    height: auto;
                    padding-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    border-radius: 10px;
                    
        
                    .top{
                        display: flex;
                        align-items: center;
                        .missionImg{
                            padding-right: 0%;
                            align-self: center;
                            width: 100%;
                            height: 290px;
                            object-fit: cover;
                        }
                    }
    
                    .bottom{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        align-items: center;
                        // justify-content: center;
                        padding: 0px 0px;
                        max-width: 100%;
                        
                        .title{
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                        .desc{
                            margin: 0px 30px;
                                font-size: 0.9rem;

                            // font-weight: 400;
                            text-align: justify;
                        }

                        button{
                            
                            margin-top: 5px;
                            margin-left: 65%;   
                            width: 120px;
                            height: 30px;
                            font-size: 0.8rem;
                            // background-color: #ee334e;
                            color: white;
                            cursor: pointer;
                            border: 0.6px solid transparent;
                            border-radius: 14px;
                            
                        }
                    }
                }
            }
    
    
        }
    }

}