$timing-function   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$nav-width-desktop : 40em;
$nav-width-mobile  : 25em;
$nav-item-nb       : 6;

.blurBg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 999;

    
    // background-color: #fff;
    background-color: rgba(189,189,189,0.9);
    // h4{
    //     position: relative;
    //     margin-top: 20%;
    //     margin-left: 50%;
    // }
    // top: 50%;
    // bottom: 0;
    // left: 50%;
    // right: 0;
    // transform: translate(-50% ,-50%);
    //changes//
    
    

    



}

.modalContainer{
    z-index: 999;
    position: fixed;
    top: 24%;
    left: 45%;
    bottom: 0;
    height: auto;
    padding-bottom: 10px;
    // left: 50%;
    transform: translate(-50% ,-50%);

    //changes//
    
    flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	transform: translate3d(0,0,0); /* material acceleration */
	transform: translateX(-100%);
	will-change: transform;
	transition: transform .5s $timing-function;

    &::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0; 
		z-index: -1;
		width: $nav-width-mobile;
        background: linear-gradient(139deg, rgba(255,132,77,1) 0%, rgba(222,69,76,1) 100%);

		// background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
		content: '';
		transform: skewX(15deg) translateX(-95%) !important;
		transform-origin: bottom left;
		will-change: transform;
		transition: transform .5s $timing-function;
		@media(min-width: 60em) {
			width: $nav-width-desktop;
		}
        @media(min-width: 30em) {
			width: 40em;
		}
	}

    .routes {
        position: relative;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 13px;
    height: auto;


        
        .link_text{
            color: white;
            
            text-transform: uppercase;
            text-decoration: none;
            
            font-weight: bold;
            font-size: 1rem;
            display: flex;
            flex-direction: row;
            .link{
                padding-left: 20%;
                gap: 10px;
                // color: #d62956;
                // color : linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%) !important;
            color: linear-gradient(139deg, rgba(255,132,77,1) 0%, rgba(222,69,76,1) 100%);

                font-size: 1.6rem;
                width: 100%;
                text-decoration: none;
                transition: color .15s, transform .5s;
                transition-timing-function: $timing-function;
    
            }

            
        }
      }
   
}