$slide-count: 5;
$slide-width: 30rem;
$slide-widthJr: 10rem;


.upcomingEvents{
    width: auto;
    height: auto;
    padding-bottom: 20px;
    // z-index: 0;
    background-color: white;
    
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
    text-align: start;


    
    // .carousel__dots {
    //     display: inline-block;
    //     left: 50%;
    //     margin-top: 2rem;
    //     position: absolute;
    //     transform: translateX(-50%);
    
    //     .dot {
    //         background: #ccc;
    //         border: 0;
    //         border-radius: 50%;
    //         cursor: pointer;
    //         height: 2rem;
    //         margin: 0 0.3rem;
    //         outline: none;
    //         transform: scale(0.5);
    //         width: 2rem;
    
    //         &.active {
    //             background: black;
    //         }
    //     }
    // }
    .eventsContainer{
        
        .upcomingEventsContainer{
            width: 750px;
            height: auto;
            border: 1px solid transparent;
            
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 50px 20px;
            padding-bottom: 10px;
            border-radius: 20px;
    
            .imgContainer{
                width: 100%;
                object-fit: cover;
                height: 420px;
                border: 1px solid transparent;
                 border-radius: 20px;
    
    
    
            }
    
            .restItems{
                border-radius: 20px;
               gap: 0px;
               display: flex;
               flex-direction: column;
               width: auto;
               line-height: 20px;
              align-items: start;
    
               h2{
                font-size: 1.65rem;
                padding: 5px 0px;
    
                position: relative;
                display: inline-block;
    
    
               }
    
            //    h2::after {
            //     content: '';
            //     position: absolute;
            //     width: 100%;
            //     transform: scaleX(0);
            //     border-radius: 15px;
            //     height: 0.15em;
            //     bottom: 0;
            //     left: 0;
            //     top: 40px;
            //     background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
            //     transform-origin: bottom right;
            //     transition: transform 0.25s ease-out;
            //   }
            //   h2:hover::after {
            //     transform: scaleX(1);
            //     transform-origin: bottom left;
            //   }
    
               p{
                font-size: 1.2rem;
                line-height: 24px;
                text-align: justify;
               }
    
               button{
                 width: auto;
                 border: 1px solid transparent;
                 font-family: 'Roboto Slab', serif;
                 background-color: #ee334e;
                 color: white;
                 border-radius: 5px;
                 font-size: 1.2rem;
                 height: 50px;
                 margin-top: 3px;
                 margin-bottom: 3px;
               }
    
    
            }
        }
    }

    

}

@media (min-width : 1301px) and (max-width :1800px){
    .upcomingEvents{
        width: auto;
        height: auto;
        padding-bottom: 20px;
        z-index: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    


        .upcomingEventsContainer{
            
            width: 850px;
            height: auto;
            border: 1px solid transparent;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 50px 20px;
            padding-bottom: 10px;
            border-radius: 20px;
    
            .imgContainer{
                width: 100%;
                object-fit: cover;
                height: 290px;
                border: 1px solid transparent;
                 border-radius: 20px;
    
    
    
            }
    
            .restItems{
                border-radius: 20px;
               gap: 0px;
               display: flex;
               flex-direction: column;
               width: auto;
               line-height: 18px;
              align-items: start;
    
               h2{
                font-size: 1.5rem;
                padding: 5px 0px;
    
                position: relative;
                display: inline-block;
    
    
               }
    
            //    h2::after {
            //     content: '';
            //     position: absolute;
            //     width: 100%;
            //     transform: scaleX(0);
            //     border-radius: 15px;
            //     height: 0.15em;
            //     bottom: 0;
            //     left: 0;
            //     top: 40px;
            //     background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
            //     transform-origin: bottom right;
            //     transition: transform 0.25s ease-out;
            //   }
            //   h2:hover::after {
            //     transform: scaleX(1);
            //     transform-origin: bottom left;
            //   }
    
               p{
                font-size: 1.2rem;
                line-height: 12px;
                text-align: justify;
               }
    
               button{
                 width: auto;
                 border: 1px solid transparent;
  font-family: 'Roboto Slab', serif;

                

                 background-color: #ee334e;
                 color: white;
                 border-radius: 5px;
                 font-size: 1.2rem;
                 height: 50px;
                 margin-top: 3px;
                 margin-bottom: 3px;
               }
    
    
            }
        }
        
    
    }
    


}

@media (min-width : 761px) and (max-width :1300px){
    .upcomingEvents{
        width: auto;
        height: auto;
        padding-bottom: 20px;
        z-index: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
        // -webkit-box-sizing: border-box;
        // box-sizing: inherit;
    
     


        .upcomingEventsContainer{
            width: 650px;
            height: 550px;
            border: 1px solid transparent;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 220px 20px;
            padding-bottom: 10px;
            border-radius: 20px;
    
            .imgContainer{
                width: 100%;
                object-fit: cover;
                height: 250px;
                border: 1px solid transparent;
                 border-radius: 20px;
    
    
    
            }
    
            .restItems{
                border-radius: 20px;
               gap: 0px;
               display: flex;
               flex-direction: column;
               width: auto;
               padding: 10px 10px !important;
               line-height: 18px;
              align-items: start;
    
              h2{
                font-size: 1.1rem;
                padding: 5px 0px;
    
                position: relative;
                display: inline-block;
    
    
               }
    
            //    h2::after {
            //     content: '';
            //     position: absolute;
            //     width: 100%;
            //     transform: scaleX(0);
            //     border-radius: 15px;
            //     height: 0.15em;
            //     bottom: 0;
            //     left: 0;
            //     top: 40px;
            //     background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
            //     transform-origin: bottom right;
            //     transition: transform 0.25s ease-out;
            //   }
            //   h2:hover::after {
            //     transform: scaleX(1);
            //     transform-origin: bottom left;
            //   }
    
               p{
                font-size: 1.2rem;
                line-height: 12px;
                text-align: justify;
               }
    
               button{
                 width: auto;
                 border: 1px solid transparent;
                 background-color: #ee334e;
                 color: white;
                 border-radius: 5px;
                 font-size: 1.2rem;
                 height: 50px;
                 margin-top: 3px;
                 margin-bottom: 3px;
               }
    
    
            }
        }
        
    
    }
    


}

@media (min-width : 320px) and (max-width : 760px){
    .upcomingEvents{
        width: auto;
        height: auto;
        // padding-top: 90px;
        // padding-top: 150px;
        padding-bottom: 20px;
        z-index: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;

        .eventContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            margin: 20px 20px;
            padding: 10px 20px;

            .eventBox{
                width: 100%;
                // gap: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .eventImg{
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border: 1px solid transparent;
                    border-radius: 20px;
                }

                .eventDescContainer{
                    padding-bottom: 30px;
                    h4{
                        font-size: 1.2rem;

                    }
                    p{
                        font-size: 1rem;
                    }
                    button{
                            
                        margin-top: 5px;
                        margin-left: 0%;   
                        width: 240px;
                        height: 35px;
                        font-size: 0.8rem;
  font-family: 'Roboto Slab', serif  !important;

                        // background-color: #ee334e;
                        color: whitesmoke;
                        cursor: pointer;
                        border: 0.6px solid transparent;
                        border-radius: 14px;
                        
                    }


                }


            }


        }
    
   
        
        // .carousel__dots {
        //     display: inline-block;
        //     left: 50%;
        //     margin-top: 2rem;
        //     position: absolute;
        //     transform: translateX(-50%);
        
        //     .dot {
        //         background: #ccc;
        //         border: 0;
        //         border-radius: 50%;
        //         cursor: pointer;
        //         height: 2rem;
        //         margin: 0 0.3rem;
        //         outline: none;
        //         transform: scale(0.5);
        //         width: 2rem;
        
        //         &.active {
        //             background: black;
        //         }
        //     }
        // }
        
    
    }
    


}