.navbar{
    display: flex;
    flex-direction: row;
    width: 100% !important;
    top: 0px;
    justify-content: center;
    position: fixed;
    z-index: 13;
    // align-items: center;
    // justify-content: center;
    gap : 0px;
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;    
    // border-bottom: 2px solid transparent;
    border-bottom-color: #929292;

    .logoC{
        .logoImg{
            width: 230px;
            height: 140px;
            object-fit: contain;
        }
    }

    .rest{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px 120px;
        gap: 35px;
        background-color: white;
    
        .list{
            color: black;
            display: inline-block;
  position: relative;
//   color: #0087ca;
  text-decoration: none;
            // color: darkgray;
            text-transform: uppercase;
            font-size: 1.1rem;
            padding: 5px 10px;
            font-weight: bold;
            // letter-spacing: 1px;
            // text-transform: uppercase;
    
        }
    
        .list::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            border-radius: 15px;
            height: 0.15em;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          .list:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }

   


}

.navbar-active{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    // justify-content: center;
    gap : 0px;
    background-color: white;
    border-bottom: 2px solid transparent;
    border-bottom-color: #929292;

    .logoC{
        .logoImg{
            width: 230px;
            height: 140px;
            object-fit: contain;
        }
    }

    .rest{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px 120px;
        gap: 35px;
        background-color: white;
    
        .list{
            color: black;
            display: inline-block;
  position: relative;
//   color: #0087ca;
  text-decoration: none;
            // color: darkgray;
            text-transform: uppercase;
            font-size: 1.1rem;
            padding: 5px 10px;
            font-weight: bold;
            letter-spacing: 1px;
            // text-transform: uppercase;
    
        }
    
        .list::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            border-radius: 15px;
            height: 0.15em;
            bottom: 0;
            left: 0;
            background: #fec02b;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          .list:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }

   


}


@media (min-width : 933px) and (max-width :1800px){
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 0px;
        // align-items: center;
        // justify-content: center;
        gap : 0px;
        background-color: white;
        border-bottom: 2px solid transparent;
        border-bottom-color: #929292;
    
        .logoC{
            .logoImg{
                width: 190px;
                height: 130px;
            }
        }
    
        .rest{
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 40px 40px;
            gap: 25px;
            background-color: white;
        
            .list{
                color: black;
                // color: darkgray;
                text-transform: uppercase;
                font-size: 0.8rem;
                // width: 80px;
                font-weight: bold;
                // letter-spacing: 1px;
                // text-transform: uppercase;
        
            }
        
            .list:hover{
                color: black;
            }
        }
    
       
    
    
    }
}

@media (min-width : 771px) and (max-width :932px){
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 0px;
        // align-items: center;
        // justify-content: center;
        gap : 0px;
        background-color: white;
        border-bottom: 2px solid transparent;
        border-bottom-color: #929292;
    
        .logoC{
            .logoImg{
                width: 190px;
                height: 90px;
            }
        }
    
        .rest{
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 40px 40px;
            gap: 15px;
            background-color: white;
        
            .list{
                color: black;
                // color: darkgray;
                text-transform: uppercase;
                font-size: 0.6rem;
                // width: 80px;
                font-weight: bold;
                // letter-spacing: 1px;
                // text-transform: uppercase;
        
            }
        
            .list:hover{
                color: black;
            }
        }
    
       
    
    
    }
}