.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    // justify-content: center;
    gap : 0px;
    background-color: white;
    border-bottom: 2px solid transparent;
    border-bottom-color: #929292;

    .logoC{
        .logoImg{
            width: 190px;
            height: 130px;
        }
    }

    .rest{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px 120px;
        gap: 35px;
        background-color: white;
    
        .list{
            color: black;
            // color: darkgray;
            text-transform: none;
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: 1px;
            // text-transform: uppercase;
    
        }
    
        .list:hover{
            color: black;
        }
    }

   


}