
@font-face {
  font-family: 'Moon';
  src: url('./fonts/Moon2.0-Regular.otf' );
}

@font-face {
  font-family: 'Sample';
  src: url('./fonts/AlteHaasGroteskRegular.ttf' );
}

.App{
  margin: 0;
  /* src: url('./fonts/Moon2.0-Bold.otf') format('truetype'); */
  /* font-family: 'Sample'; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */

}
