
.regulationsMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        margin-top: 50px;
        width: 400px;
        height: 50px;
        font-size: 1.4rem;
        border: 1px solid transparent;
        border-radius: 20px;
        background-color:linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
        color: white;
        cursor: pointer;

        letter-spacing: .10rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1957;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: white;
    background-color: darken(#fec02b, 0%);
    transition: all .3s;
    // border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
        

    }

    button:hover{
        background-color: #ebebeb;
        color: black;
    }

    .regulations{
        margin-top: 40px;
        width: 80%;
        height: auto;
        padding-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
        border: 1px solid black;
        border-radius: 30px;
        background-color: #ebebeb;

    
        .regulationsTitle{
            font-size: 2rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            // padding-right: 25%;

        }
        .regulationsContainer{
            margin: 20px 60px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            // justify-content: center;
            text-align: start;
    
    
            .containerTitle{
                font-size: 1.2rem;
                text-align: start;
    
    
            }
    
            .containerDesc{
                display: flex;
                flex-direction: column;
                gap: 2px;
                width: 85%;
                text-align: start;
                font-size: 1.05rem;
                
            }
    
            
            .dot{
                width: 20px;
                height: 20px;
            }
            p{
                margin-left: 4px;
            }
    
        }
    }

    // .regulations:hover{
    //     background-color: #0d6efd;
    //     color: white;
    // }
}

$color: #0cf;

@media (min-width : 861px) and (max-width :1800px){

    .regulationsMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            margin-top: 50px;
            width: 400px;
            height: 50px;
            font-size: 1.4rem;
            border: 1px solid transparent;
            border-radius: 20px;
            background-color: #1f1957;
            color: white;
            cursor: pointer;

            
            
    
        }
    
        .regulations{
            margin-top: 40px;
            width: 80%;
            height: auto;
            padding-bottom: 20px;
            margin-left: 30px;
            margin-right: 30px;
            border: 1px solid black;
            border-radius: 30px;
            background-color: #ebebeb;
    
        
            .regulationsTitle{
                font-size: 2rem;
                font-weight: bold;
                display: flex;
                align-items: center;
            }
            .regulationsContainer{
                margin: 20px 60px;
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;
                text-align: start;
        
        
                .containerTitle{
                    font-size: 1.2rem;
                    text-align: start;
        
        
                }
        
                .containerDesc{
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    width: 85%;
                    text-align: start;
                    
                }
        
                
                .dot{
                    width: 20px;
                    height: 20px;
                }
                p{
                    margin-left: 4px;
                }
        
            }
        }
    
        // .regulations:hover{
        //     background-color: #0d6efd;
        //     color: white;
        // }
    }
}

@media (min-width : 320px) and (max-width :860px){

    .regulationsMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            margin-top: 50px;
            width: 250px;
            height: 50px;
            font-size: 1.2rem;
            border: 1px solid transparent;
            border-radius: 20px;
            background-color: #0d6efd;
            color: white;
            transition: all .3s;
  position: relative;
  overflow: hidden;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #1f1957;
                // border-radius: 10rem;
                z-index: -2;
              }
              &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: darken(#fec02b, 15%);
                transition: all .3s;
                // border-radius: 10rem;
                z-index: -1;
              }
              &:hover {
                color: #fff;
                &:before {
                  width: 100%;
                }
              }
    
        }
    
        .regulations{
            margin-top: 40px;
            width: 95%;
            height: auto;
            padding-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            border: 1px solid black;
            border-radius: 30px;
            background-color: #ebebeb;
    
        
            .regulationsTitle{
                // padding-left: 25%;
                font-size: 1.1rem;
                font-weight: bold;
                display: flex;
                align-items: center;
              
            }
            .regulationsContainer{
                margin: 10px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
                text-align: justify;
        
        
                .containerTitle{
                    font-size: 1rem;
                    text-align: start;
        
        
                }
        
                .containerDesc{
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    width: 100%;
                    text-align: justify;
                    // margin: 0px 10px;
                    
                }
        
                
                .dot{
                    width: 20px;
                    height: 20px;
                }
                p{
                    margin: 2px 2px;
                }
        
            }
        }
    
        // .regulations:hover{
        //     background-color: #0d6efd;
        //     color: white;
        // }
    }
}