.footer{
    width: auto;
    height: auto;
    // padding-bottom: 20px;
    // background-color: #1f1957;
    background-color: #212121;
    color: white;

    .footerContainer{
        display: flex;
        flex-direction: row;
        padding: 20px 100px;
        align-items: center;
        justify-content: space-around;
        text-align: start;

        .left{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .logoImg{
                width: 230px;
                height: 140px;
            object-fit: contain;

            }
        }

        .middle{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: start;
line-height: 3px;

h3{
    font-size: 1rem;
    gap: 4px;
    letter-spacing: 0.6px;

}
        }

        .right{
display: flex;
flex-direction: column;
gap: 0px;

.footerHeading{
    color: white;
    font-weight: bold;
    text-align: start !important;
    font-size: 1rem;
    line-height: 5px;
    
    
    .footerLogo{
        padding: 0px 0px;
        font-size: 1.5rem;
        display: inline-block;
        position: relative;
  text-decoration: none;
  letter-spacing: 2px;

    }

    .footerLogo::after {
        content: '';
        position: absolute;
        width: 88%;
        transform: scaleX(0);
        border-radius: 5px;
        height: 0.15em;
        bottom: 0;
        left: 0;
        background:  linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 49%, hsla(262, 81%, 71%, 1) 100%);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .footerLogo:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    p{
        letter-spacing: 0.6px;
        font-size: 0.8rem;
    }

    .email{
        cursor: pointer;

    }
}

.footerDesc{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 20px;
    width: 250px;

    .icons{
        width: 35px;
        height: 35px;
        border-radius: 4px;
        color: white;
    }

    // h3{
    //     font-size: 1rem;
    //     gap: 4px;
    // }

}
        }
    }

    .bottomStrip{   
        background-color: #303030;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        .btms{

            font-size: 1rem;
        }

        
    }
}

@media (min-width : 761px) and (max-width :1800px){

    .footer{
        width: auto;
        height: auto;
        // padding-bottom: 20px;
        // background-color: #1f1957;
    background-color: #212121;

        color: white;
    
        .footerContainer{
            display: flex;
            flex-direction: row !important;
            padding: 20px 100px;
            align-items: center;
            justify-content: space-around;
            text-align: start;
    
            .left{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .logoImg{
                    width: 150px;
                    height: 130px;
                }
            }
    
            .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    line-height: 0px;
    
    h3{
        font-size: 1rem;
        // gap: 1px;
    }
            }
    
            .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    .footerHeading{
        padding-top: 40px;
        color: white;
        display: flex;

        flex-direction: column;
        // align-items: center;
        justify-content: center;
    text-align: start !important;

        font-weight: bold;
        font-size: 1rem;
        line-height: 3px;

        p{
        line-height: 1px;

            text-align: start !important;
        }


    }
    
    .footerDesc{
        color: white;
        flex-direction: row;
        gap: 10px;
        padding-top: 20px;
        width: 150px;


    
        .icons{
            width: 20px;
            height: 20px;
            border-radius: 4px;


            
        }
    
    }
            }
        }
    
        .bottomStrip{
            display: flex;
            // display: none;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .btms{

                font-size: 0.8rem;
            }
    
            
        }
    }
    

}

@media (min-width : 320px) and (max-width :760px){

    .footer{
        width: auto;
        height: auto;
    background-color: #212121;

        // padding-bottom: 20px;
        // background-color: #1f1957;
        color: white;
    
        .footerContainer{
            display: flex;
            flex-direction: column !important;
            padding: 20px 100px;
            align-items: center;
            justify-content: space-around;
            text-align: start;
    
            .left{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .logoImg{
                    width: 150px;
                    height: 130px;
                }
            }
    
            .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    line-height: 0px;
    
    h3{
        font-size: 1rem;
        gap: 1px;
    }
            }
    
            .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    .footerHeading{
        padding-top: 50px;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        text-align: start !important;
        flex-direction: column;
        align-items: center;
  letter-spacing: 2px;

        justify-content: center;
    }
    
    .footerDesc{
        color: white;
        flex-direction: row;
        gap: 10px;
        padding-top: 20px;
        width: 150px;
    
        .icons{
            width: 20px;
            height: 20px;
            border-radius: 4px;
            
        }
    
    }
            }
        }
    
        .bottomStrip{
            // display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .btms{

                font-size: 0.8rem;
            }
    
            
        }
    }
    

}